*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    height: 100%;
    background: #141627;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
img{
    background-size: auto;
    /* transform: rotate(-0.12deg); */
    width: 50%;
    height: 750px; 
    position: absolute;
    margin-left: 50%;
}
#container{
    box-sizing: border-box;
    /* width: 100%; */
    height: 100%;
    margin: auto;
    max-width: 60%;
    margin-left: 340px;
    padding: 20px;
    position:static;
}
.input{
    display:flex;
    flex-direction: column;
    position: relative;
}

input.hand{
    background: #181B22;
    color:  rgba(248, 241, 241, 0.7);
    width:470px ;
    height: 85px;
    border-radius: 10px;
    border: 1px solid #4A4B52;
    Padding: 5px 20px;
    padding-top: 30px;
    margin-top: 4%;
    margin-left: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.input-label{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    color:#606169;
    margin-top: 5%;
    margin-left: 65px;
    Padding: 0px 20px;
}

button{
    color:  rgba(248, 241, 241, 0.7);
    width: 250px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid #4A4B52;
    /* padding: 0px, 20px, 0px, 20px; */
    background:#181B22 ;
    margin-top: 30px;
    margin-left: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    position: relative;
    
}
.L-img{
    width: 68px;
    height: 115px;
    margin-left: 0%;
    margin-bottom:30px;
    /* position:; */
}
#logo {
    margin-left: 2px;
    margin-bottom: 10px;
}
h1 {
    margin-left: 620px;
    padding-top: 20px;
    font-weight: 1100;
}
.icon{
    width: 100%;
    height: auto;
    top: 60px;
    left: 5px;
    /* position: absolute; */
    margin-left: 440px;
}
.passwd-wrap{
    position: relative;
}
#show-password{
    position: absolute;
    cursor: pointer;
    width: 2rem;
    display: flex;
    align-items: center;
}
.zee{
    margin: 0%;
    background: none;
    border: none ;
 
}